* { 
    box-sizing: border-box; 
    /*border: 1px dashed rgba(0,0,0,0.2);*/
    margin: 0;
}

html, body { 
    background-color: antiquewhite; 
    height: 100%;
}

p {
    line-height: 1.4rem;
    font-family: "helvetica", sans-serif;
    text-align: justify;
}

.container {
    background-color: peachpuff;
    min-height: 100%;
}

nav {
    display: grid;
    grid-template-rows: 1fr 0.2fr;
    text-align: center;
}
nav .logo {
    margin: 20px auto;
    max-width: 100%;
    grid-row: 1/2;
}

nav .slogan {
    display: none;
}
nav ul {
    margin: 0;
    padding: 0;
    grid-row: 2/3;
}
nav ul li {
    list-style-type: none;
    line-height: 10vw;
    font-size: 5vw;
    background-color: darksalmon;
    color: white;
}

nav ul li {
    font-family: "helvetica", sans-serif;
}

nav ul li:hover {
    background-color: salmon;
}

nav ul:hover ~ .logo {
    background-color: bisque;
}

nav ul li:not(:last-child) {
    border-bottom: 1px solid white;
}

main {
    grid-area: main;
    margin: 13px;
}
main .rounded {
    display: none;
}
main img {
    width: 100%;
}
main p {
    font-size: 1rem;
    margin: 0 0 13px 0;
}

@media (min-width: 319px) {
                   
    nav ul li {
        font-size: 4vw;
        width: 100%;
    }
    nav ul li:not(:last-child) {
        border-right: 1px solid white;
        border-bottom: none;
    }

}